.star.filled {
    color: yellow;
  } 

  .rating-portion {
    display: flex;
    align-items: center;
    margin-top: -6px;
    margin-bottom: -7px;
  }
  
  .rating-value {
    font-size: 14px;
  }
  
  .rating-details {
    display: flex;
    align-items: center;
  }
  
  .rating-star {
    font-size: 20px;
    color: grey;
    margin-bottom: 4px ;
    margin-left: 2px ;
  }
  
  .rating-users {
    font-size: 18px;
  }