.categories {
    padding: 0 18px;
    margin: 20px 0;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.rating-portion {
    display: flex;
    align-items: center;
    margin-top: -7px;
    margin-bottom: -7px;
  }
  
  .rating-value {
    font-size: 14px;
  }
  
  .rating-details {
    display: flex;
    align-items: center;
  }
  
  .rating-star {
    font-size: 20px;
    color: grey;
    margin-bottom: 4px ;
    margin-left: 2px ;
  }
  
  .rating-users {
    font-size: 18px;
  }
    
  .discount {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    z-index: 10;
}

.product-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.title-lg {
        font-size: 18px;
    }

.price-lg {
        font-size: 16px;
    }

@media (max-width: 992px) {
.title-lg {
        font-size: 16px;
    }
    .price-lg {
        font-size: 14px;
    }
}