html, body{
    background-image: url('/static/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container {
    margin-top: 100px;
}

.card {
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 0 auto;
    padding: 30px 20px;
}

.card-header h3 {
    margin-bottom: 30px;
    text-align: center;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 none;
    border-radius: 5px;
}

.form-control:focus {
    border-color: #FFC312;
    box-shadow: 0 0 0 0.2rem rgba(255, 195, 18, 0.25);
}

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: #FFC312;
}

.links {
    color: #FFC312;
}

.links a {
    margin-left: 4px;
}
