{% extends 'base.html' %}

{% block content %}
   
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'Home' %}">Home</a>
                    <span class="breadcrumb-item active">About</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Checkout Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">About Bonanza Shopping Mall</span></h5>
                <div class="bg-light p-3 mb-5">

                    <b> <span style="font-size:40px;">W</span>elcome to Bonanza Mall</b>, the online destination for quality products at unbeatable prices in Pakistan! Our goal is to provide customers with a hassle-free online shopping experience, offering a wide range of products that are not only affordable, but also of the highest quality.
                    <br>
                    At Bonanza Mall, we understand the importance of affordability and convenience. That's why we've made it our mission to provide customers with top-notch products at a fraction of the cost of our competitors. We have a wide selection of products available, including clothing, accessories, electronics, home goods, and more. And with new products being added to our inventory regularly, you'll always find something new and exciting to add to your cart.
                    <br>
                    One of the things that sets us apart from other ecommerce websites is our commitment to speedy delivery. We understand that when you order something online, you want it as soon as possible. That's why we guarantee delivery within 2-3 business days, no matter where you are in Pakistan. Plus, we offer free shipping on all orders over a certain amount, so you can save even more.
                    <br>
                    At Bonanza Mall, we believe that quality shouldn't come at a premium. That's why we've carefully curated a selection of products that are not only affordable, but also made to last. We work directly with manufacturers to ensure that we're providing our customers with products that meet our strict standards of quality and durability.
                    But don't just take our word for it. Our customers have spoken, and they love shopping at Bonanza Mall.
                    <br> <br>
                    <b>Some of the key features of our website include:</b> 
                    <br>
                    <ul>
                        <li>High-quality products at affordable prices: We believe that everyone should have access to high-quality products without having to pay a premium price.</li>
                        <li>Fast and reliable delivery: We offer fast and reliable delivery to all areas of Pakistan, ensuring that you receive your order within 2-3 days.</li>
                        <li>Easy and secure checkout: Our checkout process is quick, easy, and secure, allowing you to make your purchase with confidence.
                        </li>
                        <li>Excellent customer service: Our team of customer service representatives is always available to assist you with any questions or concerns you may have.</li>
                        <li>Wide range of products: We offer a wide range of products, including electronics, appliances, clothing, and accessories, ensuring that you can find everything you need in one convenient place.</li>
                    </ul>
                    Whether you're looking for the latest electronics, stylish clothing, or high-quality appliances, Bonanza Mall has everything you need at an affordable price. So why wait? Start shopping today and experience the best that ecommerce has to offer
                </div>
            </div>
            
        </div>
    </div>
    <!-- Checkout End -->

    {% endblock %}
