{% extends 'base.html' %}

{% block content %}

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'Home' %}">Home</a>
                    <span class="breadcrumb-item active">FAQs</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Checkout Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Frequent Asks Questions</span></h5>
                <div class="bg-light p-30 mb-5">
                    <b>1. What types of products does Bonanza Mall sell?</b><br>
                    We offer a wide range of products, including clothing, accessories, electronics, home goods, and more.
                    <br><br>
                    <b>2. How do I place an order?</b><br>
                    Follow these steps: <br>
                    <ol>
                        <li>Browse our website</li>
                        <li>Sign in/Sign up Account</li>
                        <li>Fill All information correctly</li>
                        <li>Add the products you want to your cart</li>
                        <li>Confirm payment using jazzcash or easypaisa</li>
                    </ol>
                    <br>
                    <b>3. How long will it take for my order to arrive?</b><br>
                    We guarantee delivery within 2-3 business days, no matter where you are in Pakistan.
                    <br><br>
                    <b>4. What payment methods do you accept?</b><br>
                    Currently we accept two payment methods, including easypaisa and jazzcash. Other payment methodoligies will come soon.
                    <br><br>
                    <b>5. Is there a minimum order amount?</b><br>
                    No, there is no minimum order amount. However, we offer free shipping on all orders over a certain amount.
                    <br><br>
                    <b>6. Can I receive order tracking ID?</b><br>
                    Yes, you will receive a order tracking number once your order has shipped.
                    <br><br>
                    <b>7. What if I need to return an item?</b><br>
                    We have a hassle-free return policy if the product is not unboxed. Simply contact us within a certain time frame to initiate the return process.
                    <br><br>
                    <b>8. How do I contact customer service?</b><br>
                    You can contact us via email, phone, or whatsapp. Our customer service representatives are available to assist you 7 days a week.
                    <br><br>
                    <b>9. Do you offer any discounts or promotions?</b><br>
                    Yes, we offer various discounts and promotions throughout the year. Be sure to sign up for our newsletter to stay up-to-date on our latest deals.
                    <br><br>
                    <b>10. How can I stay updated on new products and promotions?</b><br>
                    The best way to stay updated is to sign up for our newsletter and follow us on social media. We post regular updates on new products and promotions on our website and social media channels.
                </div>
            </div>
            
        </div>
    </div>
    <!-- Checkout End -->

    {% endblock %}
