{% extends 'base.html' %}

{% load custom_filters %}

{% block content %}

<link href="/static/additional/style/product_category.css" rel="stylesheet">
    
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'Home' %}">Home</a>
                    <span class="breadcrumb-item active">Product Categories</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">

            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-8">
                <div class="row pb-3">
                    
                    {% for p in all_items %}       
                    <div class="col-xl-3 col-lg-3 col-md-3 col-6 pb-2">
                        <div class="product-item bg-light mb-4" onclick="redirectToNextPage('/store-products-details/{{p.slug_ref}}')">
                        <div class="discount ml-1">{{p.percent_off}}% OFF</div>
                        <div class="product-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="{{p.main_image_link}}" alt="">
                        </div>
                        <div class="text-center py-2" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            <a class="h6 text-decoration-none text-truncate title title-lg px-1" href="/store-products-details/{{p.slug_ref}}">{{p.product_name}}</a>
                            <div class="d-flex align-items-center justify-content-center mt-1">
                            <h5 class="price price-lg">PKR {{p.actual_price}}</h5>
                            <h6 class="text-muted ml-2 price"><del style="color:red; font-size:12px;">PKR {{p.list_price}}</del></h6>
                            </div>

                            {% if product_data_json %}
                            {% with p.id|stringformat:"s" as product_id %}
                                {% with product_data_json|get_product_data:product_id as data %}
                                <div class="d-flex align-items-center justify-content-center star-container" data-decimal-value="{{ data.average_rating }}" data-user-count="{{ data.user_count }}">
                                    <small>({{ data.user_count }} Users)</small>
                                </div>
                                {% endwith %}
                            {% endwith %}
                            {% endif %}
                        </div>
                        </div>
                    </div>
                    {% empty %}
                            <div class="container mt-2 pt-3">
                                <div class="alert alert-danger"><strong>Product not found! </strong> Try another</div>
                            </div>
                    {% endfor %}

                    <script>
                        function fillStars(decimalValue, container) {
                            const starContainer = container.querySelector('.star-container');
                            starContainer.innerHTML = ''; // Clear any existing content

                            const maxRating = 5;

                            for (let i = 0; i < maxRating; i++) {
                            const star = document.createElement('small');

                            if (decimalValue - i >= 0.75) {
                                star.className = 'fas fa-star text-primary mr-1';
                            } else if (decimalValue - i >= 0.25) {
                                star.className = 'fas fa-star-half-alt text-primary mr-1';
                            } else {
                                star.className = 'far fa-star text-primary mr-1';
                            }

                            starContainer.appendChild(star);
                            }

                            const userCount = starContainer.dataset.userCount || 0;
                            const countElement = document.createElement('small');
                            countElement.textContent = `(${userCount})`;
                            
                                if (userCount == 0) {
                                    countElement.textContent = `(0)`;
                                } else {
                                    starContainer.appendChild(countElement);
                                }
                            }

                            // Call the function for each item
                            const starContainers = document.querySelectorAll('.star-container');
                            starContainers.forEach(container => {
                                const decimalValue = parseFloat(container.dataset.decimalValue);
                                fillStars(decimalValue, container.parentNode);
                            });

                        function redirectToNextPage(url) {
                            window.location.href = url;
                        }
                    </script>
                    <!--
                    <div class="col-12">
                        <nav>
                          <ul class="pagination justify-content-center">
                            <li class="page-item disabled"><a class="page-link" href="#">Previous</span></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                          </ul>
                        </nav>
                    </div>
                    -->
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->

    
   
{% endblock %}
